<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TO-DO-LIST &#10003;</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  </head>
  <body>
    <div class="header">TO-DO-LIST</div>
    <div class="inputContainer">
      <form action="/" method="POST" class="todo-header">
        <input type="text" name="content" placeholder="Write something..." />
        <button type="submit"><i class="addIcon fas fa-plus"></i></button>
      </form>
    </div>
    <div class="todoContainer">
      <ul class="todoList">
        <% for (let i = 0; i < data.length; i++) { %>
          <li class="todoItem">
            <p><%= data[i].name %></p>
            <div class="icons">
              <a href="#"><i class="edIcon fas fa-edit"></i></a>
              <a href="#"><i class="remIcon fas fa-times"></i></a>
            </div>
          </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>