* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #d1e2d1, #4f754f);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  html .header, body .header {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 40px;
    font-size: 3.9em;
    font-weight: bold; }
    @media screen and (min-width: 768px) {
      html .header, body .header {
        margin-top: 70px;
        font-size: 4em;
        padding-right: 10px; } }
    @media screen and (min-width: 1024px) {
      html .header, body .header {
        margin-top: 5px; } }
  html .inputContainer, body .inputContainer {
    margin-top: 30px; }
    @media screen and (min-width: 1024px) {
      html .inputContainer, body .inputContainer {
        margin-top: 30px; } }
    html .inputContainer form, body .inputContainer form {
      width: 230px;
      display: flex;
      justify-content: space-between; }
      @media screen and (min-width: 768px) {
        html .inputContainer form, body .inputContainer form {
          width: 270px; } }
      @media screen and (min-width: 1024px) {
        html .inputContainer form, body .inputContainer form {
          width: 290px; } }
      html .inputContainer form input, body .inputContainer form input {
        width: 200px;
        font-size: 1em;
        border: none;
        padding: 6px;
        box-shadow: 0 0 5px rgba(98, 98, 98, 0.486); }
        @media screen and (min-width: 768px) {
          html .inputContainer form input, body .inputContainer form input {
            width: 240px;
            font-size: 1.1em;
            padding: 8px; } }
        @media screen and (min-width: 1024px) {
          html .inputContainer form input, body .inputContainer form input {
            width: 260px; } }
      html .inputContainer form button, body .inputContainer form button {
        font-size: 1.3em;
        border: none;
        background-color: transparent; }
        html .inputContainer form button:hover, body .inputContainer form button:hover {
          color: lightgrey; }
  html .todoContainer, body .todoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    width: 100%; }
    html .todoContainer .todoList, body .todoContainer .todoList {
      list-style: none;
      background-color: rgba(51, 51, 51, 0.445);
      box-shadow: 0 0 10px #363636;
      padding: 15px 15px;
      width: 85%; }
      @media screen and (min-width: 768px) {
        html .todoContainer .todoList, body .todoContainer .todoList {
          width: 65%;
          padding: 15px 35px; } }
      @media screen and (min-width: 1024px) {
        html .todoContainer .todoList, body .todoContainer .todoList {
          width: 55%; } }
      html .todoContainer .todoList .todoItem, body .todoContainer .todoList .todoItem {
        color: #f0f0f0;
        font-size: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.294); }
        @media screen and (min-width: 768px) {
          html .todoContainer .todoList .todoItem, body .todoContainer .todoList .todoItem {
            font-size: 1.2em; } }
        @media screen and (min-width: 1024px) {
          html .todoContainer .todoList .todoItem, body .todoContainer .todoList .todoItem {
            font-size: 1.3em; } }
        html .todoContainer .todoList .todoItem a, body .todoContainer .todoList .todoItem a {
          color: #f0f0f0; }
          html .todoContainer .todoList .todoItem a:hover, body .todoContainer .todoList .todoItem a:hover {
            color: lightgrey; }
        html .todoContainer .todoList .todoItem .edIcon, body .todoContainer .todoList .todoItem .edIcon {
          font-size: 1em;
          padding-bottom: 3px; }
        html .todoContainer .todoList .todoItem .remIcon, body .todoContainer .todoList .todoItem .remIcon {
          font-size: 1em; }
